
div.custom-header{
    padding: 15px 0;
}
footer,
div.custom-header{
    background: #f4f4f4;
}
footer div.content{
    margin-top: 25px;
    margin-bottom: 25px;
}
.on-off-settings{
    margin: 20px 0;
}

.form-check{
    padding-bottom: 5px;
}

div.logo{
    position: absolute;
    bottom: 0;
    right: 0;
}

div.logo img{
    width: 80px;
}